node_modules
npm-debug.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

.git
.gitignore
.github

.agents
.vscode
.idea

coverage
tests
docs
supabase

*.md
.DS_Store
Thumbs.db
